/* body {
     background-color: darkslateblue;
} */

body {
    background-color: #2f4f4f;
}

/*body {
    background-color: rgb(100, 100, 20);
}  */

/* body {
    background-color: rgba(200, 127, 64, 0.8);
} */

/* body {
    background-image: url("mountain.jpg");
} */

/* body {
    background-image: url("repeated-and-seamless-pattern-in-graffiti-abstract-style.jpg");
    background-size: 50%;
    background-repeat: repeat;
} */

input[type=submit] {
    background-color:  blueviolet;
}